---
layout: default
title: "My Sysadmin Cheatsheet"
---

<div class="posts">
  {% for post in paginator.posts %}
    {% assign disqus_identifier = post.url | remove: '/' %}
    <article>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <div class="post">
        {{ post.content }}
        {% include meta.html %}
      </div>
    </article>
  {% endfor %}
</div>

<nav>
  <ul>
    {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path }}" class="btn"><i class="fa fa-angle-double-left"></i></a></li>
    {% endif %}
    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path }}" class="btn"><i class="fa fa-angle-double-right"></i></a></li>
    {% endif %}
  <ul>
</nav>
