@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

@keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

$color1: #444;
$color2: #666;
$color3: #b8b8b8;
$color4: #f8f8f8;

$defaultFont: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
$codeFont: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

html {
  overflow: auto;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $defaultFont;
  color: $color1;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

ul, ol {
  li {
    & > ul, & > ol {
      margin: 0 0 0 1.5rem;
    }
  }
}

ul.index {
  margin: 1rem auto 2rem auto;
  list-style-type: none;

  li {
    display: none;
    overflow: hidden;

    &.fav {
      display: block;

      a:before {
        content: attr(data-date) '\00a0\002a\00a0' !important;
      }
    }

    a {
      display: block;
      line-height: 2.5;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &:before {
        font-style: normal;
        font-size: 80%;
        font-weight: 400 !important;
        content: attr(data-date) '\00a0\00a0\00a0';
        font-family: $codeFont;
        display: inline-block;
        color: $color1;
      }
    }
  }
}

article {
  overflow-x: hidden;
  margin: 1rem auto;

  & > * {
    display: block;
    margin: 0 auto 1rem auto;
  }

  div.date {
    font-size: 80%;
    font-family: $codeFont;
    font-weight: normal;
    margin: 1rem 0 0 0;
  }

  ul, ol {
    margin-left: 2rem;

    li {
      margin: 1rem 0;

      & > * {
        margin-top: 1rem;
      }
    }
  }

  h1 {
    margin-bottom: 1rem;

    & + hr {
      margin: 0 0 3rem 0 !important;
      width: 10%;
    }
  }

  hr {
    margin: 2rem 0 1rem 0;
    height: 0;
    border: none;
    border-top: 1px solid $color3;

    &:last-of-type {
      width: 10%;
      margin-top: 3rem;

      & + ol {
        font-size: 90%;
        margin: 0 0 1rem 0 !important;
        color: $color3;
        counter-reset: o-counter 0;

        li {
          margin: 0;
          line-height: 1.25;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:before {
            color: $color3;
            content: '[' counter(o-counter) '] ';
            counter-increment: o-counter;
            font-family: $codeFont;
            font-size: 80%;
          }
        }
      }
    }
  }

  img {
    max-width: 90% !important;
    display: block;
    margin: 1rem auto;
  }

  pre, code, blockquote {
    border-radius: 3px;
    background: $color4;
    color: $color2;
  }

  pre, blockquote {
    overflow: auto;
    padding: .5rem 1rem;
  }

  blockquote {
    font-style: italic;
    border-left: 3px solid $color3;
    display: flex;
    align-items: center;

    &:before {
      content: '!';
      color: $color3;
      font-size: 250%;
      font-weight: bold;
      font-style: normal;
      font-family: $codeFont;
      margin-right: 1rem;
      line-height: 1;
    } 
  }

  code {
    font-size: 90%;
    font-family: $codeFont;
    padding: 3px;
  }

  pre {
    scrollbar-width: none;

    & > code {
      padding: 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

h1, h2, h3, h4, h5 {
  line-height: 1.3;
  margin: 3rem 0 1.38rem;

  a {
    color: inherit;
  }
}

h1 + h2, h2 + h3, h3 + h4, h4 + h5 {
  margin-top: 0;
}

h1 {
  margin: 0 0 2rem 0;
  font-size: 1.802rem;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

}

h2 {font-size: 1.602rem;}
h3 {font-size: 1.424rem;}
h4 {font-size: 1.266rem;}
h5 {font-size: 1.125rem;}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
@keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

header {
  font-family: $codeFont;
  margin: 2rem auto 0 auto;

  h1 {
    margin: 0 0 2rem 0;
    font-size: 1.2rem;
    font-weight: normal;

    a {
      color: inherit;
      padding-bottom: .25rem;
      border-bottom: 1px solid $color1;
    }
  }

  &.index h1 {
    font-size: 1.602rem;

    &:after {
      content: '\00a0';
      text-decoration: blink;
      animation: blinker 0.7s infinite ease-in-out alternate;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVR4AWMwMTH5717gw8AAJMAcAC3GBT28lH6HAAAAAElFTkSuQmCC);
      margin-left: .25rem;
    }
  }
}

footer {
  margin: 1rem auto;
  padding-bottom: 2rem;
  color: $color3;
  font-size: 90%;

  a {
    color: inherit;
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;

      &:not(:first-child):before {
        content: '\00B7';
        padding: 0 .5rem;
      }
    }
  }
}

table {
  tr {
    th {
      font-weight: bold;
      text-align: left;
      padding: .5em;
    }

    td {
      padding: .5em;
    }
  }
}

.wrapper {
  width: 600px;
  max-width: 90vw;
  margin: 2rem auto;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

span.var {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVR4AWMwMTH5717gw8AAJMAcAC3GBT28lH6HAAAAAElFTkSuQmCC);
  color: $color4;
  border-radius: 2px;
  padding: 0 2px;
}

div.nores {
  display: none;
}

@media (pointer: coarse)  {
  header.index h1 {
    font-size: 1.5em;

    &:after {
      display: none;
    }
  }

  ul.index li {
    display: block !important;
  }
}
