---
---

@import "normalize";

/* lekton-regular - latin */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/lekton/lekton-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lekton'), local('Lekton-Regular'),
       url('/assets/fonts/lekton/lekton-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lekton/lekton-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lekton/lekton-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lekton/lekton-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lekton/lekton-v10-latin-regular.svg#Lekton') format('svg'); /* Legacy iOS */
}

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/lato/lato-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
       url('/assets/fonts/lato/lato-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato/lato-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lato/lato-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato/lato-v16-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/assets/fonts/lato/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lato/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/lato/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('/assets/fonts/lato/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lato/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

$bgColor: #fcfcfc;
$textColor: #333;
$linkColor: #009999;

$defaultFont: "Lato", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$headerFont: $defaultFont;
$codeFont: "Lekton", "Lucida Console", Monaco, monospace;


html {
  overflow: auto;
  overflow-x: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $bgColor;
}

body {
  font-family: $defaultFont;
  color: $textColor;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

a {
  color: $linkColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerFont;
  margin: 1em auto !important;
}

h2 {
  margin-top: 2em !important;
}

h1 {
  a {
    color: $textColor;
    border-bottom: 1px solid transparent;

    &:hover {
      text-decoration: none;
      border-color: $textColor;
    }
  }
}

.content {
  width: 100%;
  margin: 2em auto;

  & > h1 {
    margin: 2em auto .5em auto !important;
  }
}

header {
  margin: 2em auto 4em auto;
  color: lighten($textColor, 25%);
  text-align: center;

  a {
    color: lighten($textColor, 25%);

    &:hover {
      border-color: lighten($textColor, 25%);
    }
  }

  h1, h5 {
    margin: .5em auto !important;
    font-weight: normal;
  }

  h1 {
    font-family: $codeFont;
    line-height: 1;
  }
}

h1 {
  font-weight: 300;
}


img {
  max-width: 90% !important;
  display: block;
  margin: 1em auto;
}

p {
  line-height: 1.6;
}

blockquote {
  font-style: italic;
  margin: 1em auto;
  margin: 1em 0 1em 1em;
  padding-left: 1em;
  border-left: 5px solid darken($bgColor, 5%);
}

pre, code {
  background: darken($bgColor, 5%);
  border-radius: 3px;
}

pre {
  overflow-x: scroll;
  padding: 1em !important;
}

code {
  font-family: $codeFont;
  padding: 3px;

  pre & {
    padding: 0;
  }

  .var {
    color: Crimson;
    font-style: italic;
  }
}



ul, ol {
  margin: 1em 0 1em 1.5em;
  padding: 0;
}

li > ul, li > ol {
  margin: 0 0 0 1.5em;
}

li {
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

div.wrapper {
  width: 600px;
  max-width: 95vw;
  margin: 0 auto;
}

footer {
  dispaly: table;
  margin: 2em auto;
  width: 100%;
  text-align: center;
  color: lighten($textColor, 50%);

  a {
    color: lighten($textColor, 50%);
    
    &:hover {
      border-color: lighten($textColor, 50%);
    }
  }

  ul {
    font-size: 0.8em;
    list-style: none;
    text-align: center;

    & > li {
      display: inline-block;
      vertical-align: middle;
    }

    & > li:not(:last-child)::after {
      content: '~';
      margin: 0 1em;
    }
  }
}

article {
  overflow-x: hidden;

  hr {
    margin: 1em auto;
    height: 0;
    border-top: none;
    border-bottom: 1px solid darken($bgColor, 5%);
  }

  & > hr:last-of-type + ol {
    font-size: 0.8em;
    list-style-type: none;
    counter-reset: o-counter 0;
    margin: 1em 0 1em .5em;

    li {
      text-indent: 0 !important;
      color: lighten($textColor, 50%);
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:before {
        content: '[' counter(o-counter) '] ';
        counter-increment: o-counter;
      }
    }
  }

  & > * {
    margin-bottom: 2em;

    &:first-child {
      margin-top: 0 !important;
    }
  }
}

ul.index {
  list-style: none;
  font-family: $headerFont;
  margin: 2em auto;

  li {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: lighten($textColor, 50%);

    a {
      padding: .5em 0;
      display: inline-block;

      strong {
        background: Yellow;
      }
    }

    &::after {
      content: '~ ' attr(data-date);
      margin-left: .5em;
      font-size: .8em;
      font-weight: normal !important;
    }

    &:not(.fav) {
      display: none;
    }
  }
}

.date {
  text-align: right;
  font-size: .8em;
  color: lighten($textColor, 50%);
}

.search {
  margin: 0 auto 2em auto;

  input {
    display: block;
    width: calc(100% - .5em);
    vertical-align: middle;
    border: 1px solid lighten($textColor, 75%);
    border-radius: 3px;
    padding: .5em;
    line-height: 1;
    font-size: 1.75em;
    font-family: $codeFont;
    color: lighten($textColor, 50%);
    transition: all 0.3s ease-in-out;
    outline: none;
    background: White;

    &:focus, &:hover {
      border: 1px solid lighten($textColor, 33%);
    }
  }

  ::placeholder {
    color: lighten($textColor, 66%);
  }
}

table {
  tr {
    td {
      width: auto;
      padding: .5em 1em .5em 0;
      line-height: 1;

      &:first-child {
        font-weight: bold;
      }

      &:last-child {
        
      }
    }
  }
}
