---
---

@import "normalize";

/* lekton-regular - latin */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: local('Lekton'), local('Lekton-Regular'),
       url('/assets/fonts/lekton/lekton-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/lekton/lekton-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lekton-700 - latin */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 700;
  src: local('Lekton-Bold'),
       url('/assets/fonts/lekton/lekton-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/lekton/lekton-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
       url('/assets/fonts/noto/noto-sans-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/noto/noto-sans-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
       url('/assets/fonts/noto/noto-sans-v7-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/noto/noto-sans-v7-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
       url('/assets/fonts/noto/noto-sans-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/noto/noto-sans-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-700italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
       url('/assets/fonts/noto/noto-sans-v7-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/noto/noto-sans-v7-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$white: White;
$black: #444;
$text: #666;
$link: #009688;
$light: #f5f5f5;
$code: #4a4a4a;
$var: #c7254e;

$defaultFont: 'Noto Sans', sans-serif;
$codeFont: Lekton,  monospace;
$headerFont: $codeFont;

$break-small: 640px;
$break-large: 960px;

html {
  overflow: auto;
  overflow-x: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $white;
}

body {
  font-family: $defaultFont;
  line-height: 1.75;
  font-weight: 400;
  font-size: 16px;
  color: $text;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-top: 0.25em solid $link;
}

*:focus {
  outline: none;
}

::selection {
  background: $black;
  color: $light;
}
::-moz-selection {
  background: $black;
  color: $light;
}

::-webkit-input-placeholder {
	color: lighten($black, 50%);
}
::-moz-placeholder {
	color: lighten($black, 50%);
}

a {
  color: $link;
  text-decoration: none;
  
  code {
    background: $link !important;
    color: $code;
  }

  &:hover {
    text-decoration: underline;

    code {
      background: $light !important;
      color: $link !important;
    }
  }
}

h1, h2, h3, h4 {
  color: $black;
  white-space: pre-wrap;
 	line-height: 1.25;
}

h1 {
  color: inherit !important;
  font-size: 2.25em;
  font-family: $headerFont;
  font-weight: 300;

  a {
    color: inherit;
    text-decoration: none;
    overflow: hidden;
    border-bottom: 1px solid transparent;
  
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid $black;
    }
  }
}

p {
  line-height: 1.75em;
}

header {
  text-align: left;
  height: auto;
  vertical-align: middle;
  line-height: 2em;
  margin: 3em auto !important;
  padding: 0;

  .home {
    margin: 0.5em auto 0 auto;
    white-space: nowrap;
    overflow: hidden;

    h1 {
      margin: 0 auto !important;
      padding: 0 !important;
      font-size: 1.5em !important;

      a {
        font-size: inherit !important;
        color: lighten($black, 25%);
        font-family: $headerFont !important;
        text-decoration: none !important;
        overflow: hidden;
        position: relative;
        border-bottom: none !important;

        &:hover {
          color: inherit;
          text-decoration: none !important;
          border-bottom: none !important;
        }

        &:after {
          content: ' ';
          margin-left: 0.1em;
          background: lighten($black, 25%);
          text-decoration: blink;
          -webkit-animation: blinker 0.6s infinite ease-in-out alternate;
                  animation: blinker 0.6s infinite ease-in-out alternate;
        }

        &:hover:after {
          content: '';
        }

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
          background-color: $black;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; 
        }

        &:hover {
          text-decoration: none !important;

          &:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
        }
      }
    }

    @-webkit-keyframes blinker {
      from {opacity: 1.0;}
      to {opacity: 0.0;}
    }

    @keyframes blinker {
      from {opacity: 1.0;}
      to {opacity: 0.0;}
    }

    p {
      color: lighten($black, 40%);
      margin: 0 auto !important;
      padding: 0 !important;
      font-size: 0.9em;

      a {
        color: inherit;

        &:hover {
          text-decoration: underline !important;
        }
      }
    }
  }
}

article {
  overflow-x: hidden;

  & > * {
    margin: 0.5em auto 2em auto;
  }

  ol, ul {
    padding-left: -0.5em;

    li {
      margin: 1.5em auto;
      line-height: 1.5;
    }
  }

  div.date {
    font-size: 0.9em;
    text-align: right;
    font-family: $codeFont;
    color: lighten($black, 25%);
  }

  hr {
    display: block;
    border: 0;
    height: 0;
    border-top: 0.1em solid $white;
    border-bottom: 0.1em solid $light;

    &:last-of-type {
      width: 5em;
      margin: 2em 0 1em 0;
    }

    + ol {
      list-style-type: none;
      counter-reset: o-counter 0;
      padding: 0;
      
      li {
        font-size: 0.9em;
        font-family: $headerFont;
        color: lighten($black, 50%);
        text-indent: 0 !important;
        margin: 0;
        white-space: nowrap;

        &:before {
          content: '[' counter(o-counter) '] ';
          counter-increment: o-counter;
        }

        a {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:before {
            content: '\238B';
            transform: scale(-1, 1);
            font-size: 0.9em;
            display: inline-block;
            padding-left: 0.25em;
            vertical-align: middle;
          }
        }
      }
    }
  }

  h2 {
    font-size: 1.5em;
    line-height: 2em;
    border-bottom: 1px solid $light;
  }

  h3 {
    font-size: 1.25em;
  }

  h1, h2, h3, h4 {
    margin: 2em auto 0 auto;
  }

  h4 {
    margin: 1em auto 0 auto;
    font-size: 1.0em;
  }

  h1 {
    margin-top: 0;
  }

  p {
    margin: 1em auto;
  }

  h1 + p, h1 + div pre, h1 + blockquote {
    margin-top: 2em;
  }

  h2 + h3, h1 + h2, h1 + h3 {
    margin-top: 1em;
  }

  blockquote {
    border-left: 0.25em solid $light;
    padding-left: 1em;
    font-style: italic;
    color: $code;
  }

  pre, code {
    font-family: $codeFont;
    white-space: pre;
    color: $code;
  }

  pre {
    margin: 0.5em auto;
    background: $light !important;
    display: block;
    padding: 0;
    line-height: 1.5 !important;
    border-radius: 0.25em;
    border-left: 0.1em solid $link;
    word-wrap: normal;
    overflow-x: auto;

    > code {
      display: inline-block;
      width: auto;
      line-height: inherit !important;
      vertical-align: middle;
      color: $code !important;
      background: $light !important;
      padding: 1em;
      white-space: pre;

      .var {
        color: $var;
        font-style: italic;
      }
    }
  }

  li > code, p > code {
    background: lighten($var, 50%);
    color: $var;
    border-radius: 3px;
    padding: 3px;
  }

  img {
    display: block;
    width: auto;
    max-width: 90%;
    margin: 1em auto;
    text-align: center;
  }
}

footer {
  text-align: center;
  font-family: $headerFont;
  margin: 2em auto;
  font-size: 0.9em;
  width: 100%;

  * {
    color: lighten($black, 25%);
  }

  ul {
    padding: 0 1em !important;

    li {
      vertical-align: middle;
      display: inline-block;
    }
  }
}

div.content {
  .search {
    margin: 0 auto 2em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-end;

    span, input {
      height: 1em;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      vertical-align: middle;
      border: 1px solid lighten($black, 50%);
      border-radius: 0.25em;
      padding: 0.5em;
      line-height: 1;
      font-size: 1.75em;
    }

    span {
      align-self: center;
      flex: 0 1 1.5em;
      background: $light;
      border: 1px solid $light;
      color: lighten($black, 25%);
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      cursor: pointer;

      &:hover {
        background-color: lighten($black, 50%);
        border-color: lighten($black, 50%);
        color: White;

        &::before {
          content: '\266F';
        }
      }

      &::before {
        content: '\2605';
      }

      &.all, &.count {
        background-color: $link;
        border-color: $link;
        color: $light;

        &::before {
          content: '\266F';
        }
      }

      &.count {
        &::before {
          font-family: $codeFont;
          content: attr(data-count);
        }
      }
    }
    
    input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      flex: 1 0 auto;
      align-self: flex-start;
      text-align: left;
      font-family: $headerFont;
      color: lighten($black, 25%);
      transition: all 0.30s ease-in-out;
      outline: none;

      &:focus, &:hover {
        border: 1px solid lighten($black, 40%);
      }
    }
  }
}

div.box  {
  margin: 0 auto;
  width: 50vw;

  @media screen and (max-width: $break-large) {
    width: 75vw;
  }

  @media screen and (max-width: $break-small) {
    width: 90vw;
  }
}

ul.index {
  list-style-type: none;
  padding: 0;
  
  li {
    margin: 0 auto;
    padding: 0;
    color: $link;
    display: none;

    a {
      line-height: 1.25 !important;
      padding: 1.0em 0;
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &:before {
        font-family: $codeFont;
        content: '\266F';
        opacity: 0.25;
        margin-right: 0.25em; 
        color: darken($light, 20%);
        display: inline-block;
      }

      &:hover:before {
        opacity: 1.0;
      }
    }

    &.fav {
      display: block;

      a:before {
        font-family: $codeFont;
        content: '\2605';
      }
    }
  }
}
