---
---

@import "normalize";

$fa-font-path: "../fonts/font-awesome";
@import "font-awesome/font-awesome";

$white: White;
$black: #212121;
$link: #4DB6AC;
$light: #F7F8F9;

$defaultFont: 'Playfair Display', Helvetica, sans-serif;
$codeFont: Inconsolata, Monaco, 'Lucida Console', monospace;
$headerFont: 'Playfair Display', Helvetica, sans-serif;

$break-small: 640px;
$break-large: 960px;

html {
  overflow: auto;
  overflow-x: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $white;
}

body {
  font-family: $defaultFont;
  line-height: 1.75;
  font-weight: 400;
  font-size: 18px;
  color: $black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

::selection {
  background: $black;
  color: $light;
}
::-moz-selection {
  background: $black;
  color: $light;
}

header {
  text-align: left;
  height: auto;
  vertical-align: middle;
  line-height: 2em;
  margin: 2em auto !important;

  .home {
    margin: 0.5em 0;
    font-family: $codeFont;
    white-space: nowrap;
    overflow: hidden;

    i {
      padding-right: 0.25em;
      font-size: 0.9em;
    }
  }

  .search {
    width: 100%;
    position: absolute;
    
    input {
      display: block;
      width: calc(100% - 1em);
      height: auto;
      font-size: 2em;
      text-align: left;
      font-family: $codeFont;
      background: lighten($light, 33%);
      color: lighten($black, 33%);
      border: 0.025em solid lighten($black, 75%);
      border-radius: 0.25em;
      padding: 0.5em;
      margin: 0 auto;
      transition: all 0.30s ease-in-out;
      outline: none;
      z-index: 2000;
    }

    input:focus {
      box-shadow: 0 0 0.25em $link;
    }
  }

  .results {
    position: relative;
    top: 4.25em;
    width: 100%;
    z-index: 1000;
    visibility: hidden;

    ul {
      display: block;
      height: auto;
      width: 100%;
      background-color: $light;
      opacity: 0.98;
      border: 0.025em solid lighten($black, 80%);
      border-radius: 0.25em;
      overflow: hidden;

      li {
        display: block;
        overflow: hidden;
      }

      li a {
        display: block;
        padding: 0.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: darken($link, 10%);
      }

      li:hover a, li:focus a, li.focus a {
        background-color: $link;
        color: $white;
        text-decoration: none;
      }
    }
  }

}

p, div.post {
  line-height: 2em;
}

a {
  color: $link;
  text-decoration: none;

  code {
    background: $link !important;
  }

  &:hover {
    text-decoration: underline;

    code {
      background: $black !important;
    }
  }
}

h1, h2, h3 {
  font-family: $headerFont;
  font-weight: 700;
  margin: 0.5em auto;
  line-height: 1.2em;
  white-space: pre-wrap;
}

h1 {
  font-size: 2.25em;
  margin-top: 0;

  a {
    color: inherit;
    text-decoration: none;
    overflow: hidden;
  }
}

h2 {
  font-size: 1.75em;
  margin-top: 1em;
  font-weight: 400;
}

h3 {
  font-size: 1.25em;
  margin-top: 1em;
  font-weight: 400;
}

h2 + h3 {
  margin-top: 1em;
}

.archive h1 {
  font-size: 2.0em;
  
}

ul, ol {
  margin: 0 auto;
  padding: 0;
  height: auto;
}

ul {
  li {
    margin-left: 1.75em;
    
    footer & {
      padding: 0 1em !important;
    }

    a {
      nav & {
        padding: 0.75em;
        display: inline-block;
        background: $light;

        &:hover {
          background: $link;
          color: $light;
          text-decoration: none;
        } 
      }
    }

    ul li {
      margin-left: 1.75em;
    }
  }

  &.meta, header &, footer &, nav & {
    li {
      margin: 0;
      padding: 0;
      vertical-align: middle;
      display: inline-block;
      
      i {
        margin-right: 0.25em;
      }
    }
  }

  nav & {
    text-align: center;
  }

  &.meta  {
    margin: 1em auto;
  }

  &.archive {
    margin: 0 auto;
  }

  article & {
    margin: 1em auto;
  }
}

ol {
  li {
    margin: 1.25em auto 0 auto;
    padding: 0;
    list-style-position: inside;

    pre {
      margin-left: 1.25em;
    }
  }

  ul li {
    margin-top: 0;
    margin-left: 1.75em;
  }
}


footer {
  text-align: center;
  margin: 2em auto;
  width: 100%;

  * {
    color: lighten($black, 33%);
  }
}

blockquote {
  border-left: 0.25em solid darken($light, 10%);
  margin-left: 0.5em;
  padding-left: 0.5em;
  font-style: italic;
  color: lighten($black, 30%);

  p {
    white-space: pre;
  }
}

pre, code {
  font-family: $codeFont;
  white-space: pre-wrap;
}

pre {
  padding: 0.5em;
  margin: 0.5em auto;
  background: $light !important;
  line-height: 1.5;
  display: block;
  padding: 0.25em;
  border-radius: 0.25em;
  overflow-x: hidden;

  > code {
    display: inline-block;
    width: auto;
    line-height: 1.5 !important;
    color: lighten($black, 20%) !important;
    background: $light !important;
  }
}

code {
  &.date {
    background: $light !important;
    color: $black !important;
  }

  .post &, .meta & {
    background: $light;
    color: $black;
    display: inline-block;
    line-height: 1;
    padding: 0.25em;
    border-radius: 0.25em;
    vertical-align: middle;
  }

  .meta & {
    color: $light;
  }
}

.meta, footer {
  font-size: 0.9em;
}

article {
  margin: 0 auto 2em auto;
  overflow-x: hidden;
 
  div.posts & {
    &:after {
      content: "~";
      font-size: 1.75em;
      display: block;
      width: 100%;
      margin: 2em auto 0 auto;
      text-align: center;
      vertical-align: center;
      color: darken($light, 10%);
    }
  }
}

div.content, header, hr.line {
  position: absolute;
  left: 25vw;
  width: 50vw;

  @media screen and (max-width: $break-large) {
    width: 75vw;
    left: 12.5vw;
  }

  @media screen and (max-width: $break-small) {
    width: 90vw;
    left: 5vw;
  }
}

hr.line{
  top: 9em;
}

div.content{
  top: 12.5em;
}


img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 1em auto;
  text-align: center;
}


hr {
  display: block;
  margin: 1.5em auto 0.5em auto;
  border: 0;
  height: 0;
  border-top: 0.1em solid $white;
  border-bottom: 0.1em solid $light;

  + ol {
    list-style-type: none;
    counter-reset: o-counter 0;
    
    li {
      font-size: 0.75em;
      line-height: 1.5;
      margin: 0;
      padding: 0;
      white-space: nowrap;

      &:before {
        content: '[' counter(o-counter) '] ';
        counter-increment: o-counter;
      }

      a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:before {
          font-family: FontAwesome;
          content: "\f08e";
          display: inline-block;
          padding-right: 0.5em;
          vertical-align: middle;
        }
      }
    }
  }
}


#disqus_thread {
  margin: 5em auto;
}

.tags em {
  color: darken($light, 20%);
  padding-left: 0.25em;
}
