<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Lekton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css?{{ site.time | date: '%s'}}">
  </head>

  <body>
    <div class="wrapper">
      <header>
          <h1><a href="/">My Sysadmin Cheatsheet</a></h1>
          <h5><em>&laquo;Who were you, DenverCoder9? &mdash; What did you see?&raquo;</em> (<a href="https://xkcd.com/979/">xkcd/979</a>)</h5>
      </header>

      <div class="content">
        {{ content }}
      </div>

      <footer>
        <ul><!--
           --><li>&copy;2013–{{ 'now' | date: "%Y" }}</li><!--
           --><li title="GitHub"><a href="https://github.com/j7k6">GitHub</a></li><!--
           --><li title="About"><a href="/about/">About</a></li><!--
           --></ul>
      </footer>
    </div>
    <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/assets/js/main.js?{{ site.time | date: '%s'}}"></script>
  </body>
</html>
