---
layout: default
---

{% assign post = page %}
<article>
  {% include post-header.html %}
  <div class="post">
    {{ content }}
    {% include meta.html %}
  </div>

	<div id="disqus_thread"></div>
	<script>
  var disqus_config = function () {
    this.page.identifier = 'j7k6';
  };

	(function() {
		var d = document, s = d.createElement('script');
  	s.src = 'https://j7k6.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
  </script>
</article>
